@media (min-width: 1024px){
    #about .about-col {
        height: 630px ;
        overflow: hidden;
    }
}

#about .about-col p {
    text-align: center;
}

#clients img {
    padding: 15px 15px;
    opacity: 0.8;
}

.header-scrolled
{
	background-color: #904E65 !important;
}

#footer {
    background-color: #904E65 !important;
}

#footer .footer-top {
    background-color: rgb(77, 37, 51);
}

/* Services Page */

.services-container {
    margin-top: 150px;
}

.btn-primary {
    background-color: #5aa6c0;
    border-color: #5aa6c0;
}

/* Copied from about section in style.css*/

#srevices {
    /* background: url("../img/about-bg.jpg") center top no-repeat fixed; */
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#srevices::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#srevices .container {
    position: relative;
    z-index: 10;
}

#srevices .srevices-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

#srevices .srevices-col .img {
    position: relative;
}

#srevices .srevices-col .img img {
    border-radius: 4px 4px 0 0;
}

#srevices .srevices-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #5aa6c0;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

#srevices .srevices-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#srevices .srevices-col:hover .icon {
    background-color: #fff;
}

#srevices .srevices-col:hover i {
    color: #5aa6c0;
}

#srevices .srevices-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

#srevices .srevices-col h2 a {
    color: #000;
}

#srevices .srevices-col h2 a:hover {
    color: #5aa6c0;
}

#srevices .srevices-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

/* End of Copied part*/

#services .services-col {
    height: 200px;
    overflow: hidden;
}

#services .services-col p {
    text-align: center;
}

/* Single Service page */

.service-container, .project-container {
    margin-top: 130px;
}

.service-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}

.link-preview-centered {
    left: calc(50% - 20px) !important;
}

#portfolio #gallery-item {
    height: 300px;
}

#footer {
    margin-top: 50px;
}

@media (max-width: 1060px) {
    #mobile-nav-toggle {
      display: inline;
    }
}

@media (max-width: 1060px) {
    #nav-menu-container {
      display: none;
    }
}